## Analyzing the performance of the ESG funds across various ESG categories

In [1]:
# Initial imports
import os
import csv
import requests
import pandas as pd
from pathlib import Path
from dotenv import load_dotenv
import numpy as np
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [2]:
load_dotenv()

True

In [3]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

#### 1- Alternative energy sector

In [7]:
alt_tickers = ['FAN']
start_date = pd.Timestamp('2015-12-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2019-12-12', tz='America/New_York').isoformat()
timeframe= '1D'

fan_data = api.get_barset(
    alt_tickers,
    timeframe,
    start=start_date,
    end=end_date).df

fan_data.head()

                             FAN
                            open     high      low  close volume
2015-12-01 00:00:00-05:00  11.30  11.3399  11.2401  11.33  13186
2015-12-02 00:00:00-05:00  11.26  11.2800  11.1700  11.17  49270
2015-12-03 00:00:00-05:00  11.31  11.3360  11.2100  11.24   9606
2015-12-04 00:00:00-05:00  11.36  11.4400  11.3000  11.39  11534
2015-12-07 00:00:00-05:00  11.35  11.3500  11.2600  11.29   8607

In [8]:
alt_tickers = ['FAN', 'PBD', 'SMOG', 'ICLN', 'TAN']
start_date = pd.Timestamp('2015-12-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2019-12-12', tz='America/New_York').isoformat()
timeframe= '1D'

alt_data = api.get_barset(
    alt_tickers,
    timeframe,
    start=start_date,
    end=end_date).df

alt_data.head()

                             FAN                                  ICLN  \
                            open     high      low  close volume  open
2015-12-01 00:00:00-05:00  11.30  11.3399  11.2401  11.33  13186  9.51
2015-12-02 00:00:00-05:00  11.26  11.2800  11.1700  11.17  49270  9.62
2015-12-03 00:00:00-05:00  11.31  11.3360  11.2100  11.24   9606  9.68
2015-12-04 00:00:00-05:00  11.36  11.4400  11.3000  11.39  11534  9.70
2015-12-07 00:00:00-05:00  11.35  11.3500  11.2600  11.29   8607  9.66

                                                         ... SMOG           \
                             high     low  close volume  ... open high low
2015-12-01 00:00:00-05:00  9.5799  9.4401  9.570  39889  ...  NaN  NaN NaN
2015-12-02 00:00:00-05:00  9.6500  9.5800  9.620  20830  ...  NaN  NaN NaN
2015-12-03 00:00:00-05:00  9.7700  9.5800  9.670  13426  ...  NaN  NaN NaN
2015-12-04 00:00:00-05:00  9.7499  9.6101  9.730  25791  ...  NaN  NaN NaN
2015-12-07 00:00:00-05:00  9.6800  9.5000  9.575  27291  ...  NaN  NaN NaN

                                          TAN
                          close volume   open    high     low  close   volume
2015-12-01 00:00:00-05:00   NaN    NaN  26.75  27.410  26.665  27.32   165774
2015-12-02 00:00:00-05:00   NaN    NaN  27.29  27.878  27.280  27.76   335444
2015-12-03 00:00:00-05:00   NaN    NaN  27.75  28.380  27.630  27.95   790209
2015-12-04 00:00:00-05:00   NaN    NaN  27.94  28.300  27.660  28.26  1135957
2015-12-07 00:00:00-05:00   NaN    NaN  27.73  28.220  27.670  27.90  1227682

[5 rows x 25 columns]

In [ ]:
alt_tickers = ['FAN', 'PBD', 'SMOG', 'ICLN', 'TAN']
start_date = pd.Timestamp('2015-12-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2019-12-12', tz='America/New_York').isoformat()
timeframe= '1D'

alt_data = api.get_barset(
    alt_tickers,
    timeframe,
    start=start_date,
    end=end_date).df

In [ ]:
alt_tickers = ['FAN', 'PBD', 'SMOG', 'ICLN', 'TAN']
start_date = pd.Timestamp('2015-12-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2019-12-12', tz='America/New_York').isoformat()
timeframe= '1D'

alt_data = api.get_barset(
    alt_tickers,
    timeframe,
    start=start_date,
    end=end_date).df

In [4]:
# Alternative energy ETFs
alt_tickers = ['FAN', 'PBD', 'SMOG', 'ICLN', 'TAN']
start_date = pd.Timestamp('2015-12-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2019-12-12', tz='America/New_York').isoformat()
timeframe= '1D'

alt_data = api.get_barset(
    alt_tickers,
    timeframe,
    start=start_date,
    end=end_date).df


mc_alternative_energy = MCSimulation(
    portfolio_data = alt_data,
    num_simulation = 100,
    num_trading_days = 252*10 
)
mc_alternative_energy.portfolio_data.head()
mc_alternative_energy.calc_cumulative_return()

Running Monte Carlo simulation number 0.
Running Monte Carlo simulation number 10.
Running Monte Carlo simulation number 20.
Running Monte Carlo simulation number 30.
Running Monte Carlo simulation number 40.
Running Monte Carlo simulation number 50.
Running Monte Carlo simulation number 60.
Running Monte Carlo simulation number 70.
Running Monte Carlo simulation number 80.
Running Monte Carlo simulation number 90.

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,1.006079,1.004708,0.998886,1.013513,0.997885,0.999395,0.997540,1.005052,0.998038,0.998091,...,0.993323,1.007939,0.995891,0.995550,0.990036,1.004718,1.005638,0.998785,1.000228,1.002927
2,1.002180,0.990250,1.007954,1.018293,0.995850,0.998463,1.006399,1.012813,0.988467,0.996602,...,0.996316,1.010797,0.998070,1.000761,0.989219,1.008169,1.017869,0.996704,1.003817,1.005584
3,0.998589,0.990033,1.013632,1.012622,0.985866,1.005210,1.003091,1.013012,0.996820,0.999325,...,1.000736,1.008756,0.993682,0.992732,0.990328,1.007847,1.014610,1.006239,1.001176,1.002902
4,0.991420,0.989532,1.012680,1.012733,0.989356,1.017632,1.003071,1.018107,0.989974,0.999120,...,1.002351,1.006460,0.992921,0.993933,0.999899,1.009506,1.015081,1.010591,0.999751,1.012013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2516,2.271793,2.441963,1.948137,3.729497,2.945032,3.183513,1.605936,1.891762,1.841831,2.300754,...,2.894268,2.638210,1.754656,4.381447,2.856891,3.479933,3.799917,3.110041,2.414923,2.057169
2517,2.290807,2.428578,1.931340,3.693346,2.970085,3.174885,1.602838,1.885204,1.849137,2.298891,...,2.890079,2.653430,1.758896,4.374150,2.858362,3.496877,3.796112,3.071208,2.383208,2.065530
2518,2.286255,2.427448,1.917940,3.646714,2.965889,3.154906,1.590825,1.880408,1.848933,2.310477,...,2.890409,2.647624,1.755267,4.393654,2.839806,3.504207,3.804971,3.042195,2.360252,2.063558
2519,2.301511,2.410560,1.926753,3.689877,2.931605,3.158818,1.584306,1.875013,1.870164,2.312430,...,2.908683,2.666862,1.748204,4.355033,2.859165,3.519612,3.829479,3.018449,2.377175,2.066998
2520,2.324620,2.433773,1.930632,3.669051,2.932842,3.181820,1.595344,1.872217,1.876760,2.296740,...,2.923256,2.677443,1.740519,4.332657,2.856634,3.540717,3.870312,3.020319,2.373781,2.068867

In [ ]:
# Plot the Monte Carlo Simulation
mc_alternative_energy_plot= mc_alternative_energy.plot_simulation()

In [ ]:
# Cumulative returns distribution
mc_alternative_energy_dist_plot= mc_alternative_energy.plot_distribution()

In [ ]:
# Calculate the summary statistics
mc_alternative_energy_summary= mc_alternative_energy.summarize_cumulative_return()

print (mc_alternative_energy_summary)

#### Calculate the expected portfolio return at the 95% lower and upper confidence intervals based on a 10,000 initial investment.

In [ ]:
# Set initial investment
alternative_investment = 10000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000
alternative_lower= round(mc_alternative_energy_summary[8]* 10000, 2)
alternative_upper= round(mc_alternative_energy_summary[9]* 10000, 2)

# Print results
print(f"There is a 95% chance that an initial investment of ${alternative_investment} in the alternative energy portfolio"
      f", over the next 10 years will end within in the range of"
      f" ${alternative_lower} and ${alternative_upper}")

#### 2- Diversity sector

In [ ]:
# Diversity ETFs
board_tickers = ['DXGE', 'EWQ', 'NORW', 'HEDJ', 'ZDEU']
board_data = api.get_barset(
    board_tickers,
    timeframe,
    start=start_date,
    end=end_date).df
board_data.head()
mc_board = MCSimulation(
    portfolio_data = board_data,
    num_simulation = 100,
    num_trading_days = 252*10
)
mc_board.portfolio_data.head()
mc_board.calc_cumulative_return()

In [ ]:
# Plot the Monte Carlo Simulation
mc_board_plot= mc_board.plot_simulation()

In [ ]:
# Cumulative returns distribution
mc_board_dist_plot= mc_board.plot_distribution()

In [ ]:
# Calculate the summary statistics
mc_board_summary= mc_board.summarize_cumulative_return()

print (mc_board_summary)

#### Calculate the expected portfolio return at the 95% lower and upper confidence intervals based on a 10,000 initial investment.

In [ ]:
# Set initial investment
diversity_investment = 10000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000
diversity_lower= round(mc_board_summary[8]* 10000, 2)
diversity_upper= round(mc_board_summary[9]* 10000, 2)

# Print results
print(f"There is a 95% chance that an initial investment of ${diversity_investment} in the diversity portfolio"
      f", over the next 10 years will end within in the range of"
      f" ${diversity_lower} and ${diversity_upper}")

In [ ]:
# line_plot = MC_stock.plot_simulation()
# dist_plot = MC_stock.plot_distribution()

In [ ]:
# even_tbl = MC_stock.summarize_cumulative_return()

# print(even_tbl)

#### 3- Education sector

In [ ]:
edu_tickers = ['DGRS', 'FYT', 'PSL', 'FEM', 'FXD']
edu_data = api.get_barset(
    edu_tickers,
    timeframe,
    start=start_date,
    end=end_date).df
edu_data.head()
mc_education = MCSimulation(
    portfolio_data = edu_data,
    num_simulation = 100,
    num_trading_days = 252*10
)
mc_education.portfolio_data.head()
mc_education.calc_cumulative_return()

In [ ]:
# Plot the Monte Carlo Simulation
mc_education_plot= mc_education.plot_simulation()

In [ ]:
# Cumulative returns distribution
mc_education_dist_plot= mc_education.plot_distribution()

In [ ]:
# Calculate the summary statistics
mc_education_summary= mc_education.summarize_cumulative_return()

print (mc_education_summary)

#### Calculate the expected portfolio return at the 95% lower and upper confidence intervals based on a 10,000 initial investment.

In [ ]:
# Set initial investment
education_investment = 10000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000
education_lower= round(mc_education_summary[8]* 10000, 2)
education_upper= round(mc_education_summary[9]* 10000, 2)

# Print results
print(f"There is a 95% chance that an initial investment of ${education_investment} in the education portfolio"
      f", over the next 10 years will end within in the range of"
      f" ${education_lower} and ${education_upper}")

#### 4- Nuclear sector

In [ ]:
nuclear_tickers = ['IDU', 'JXI', 'NLR', 'URA', 'XLU']
nuclear_data = api.get_barset(
    nuclear_tickers,
    timeframe,
    start=start_date,
    end=end_date).df
nuclear_data.head()
mc_nuclear = MCSimulation(
    portfolio_data = nuclear_data,
    num_simulation = 100,
    num_trading_days = 252*10
)
mc_nuclear.portfolio_data.head()
mc_nuclear.calc_cumulative_return()

In [ ]:
# Plot the Monte Carlo Simulation
mc_nuclear_plot= mc_nuclear.plot_simulation()

In [ ]:
# Cumulative returns distribution
mc_nuclear_plot= mc_nuclear.plot_distribution()

In [ ]:
# Calculate the summary statistics
mc_nuclear_summary= mc_nuclear.summarize_cumulative_return()

print (mc_nuclear_summary)

#### Calculate the expected portfolio return at the 95% lower and upper confidence intervals based on a 10,000 initial investment.

In [ ]:
# Set initial investment
nuclear_investment = 10000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000
nuclear_lower= round(mc_nuclear_summary[8]* 10000, 2)
nuclear_upper= round(mc_nuclear_summary[9]* 10000, 2)

# Print results
print(f"There is a 95% chance that an initial investment of ${nuclear_investment} in the nuclear portfolio"
      f", over the next 10 years will end within in the range of"
      f" ${nuclear_lower} and ${nuclear_upper}")

#### 5- Disease treatment sector

In [ ]:
treatment_tickers = ['BBH', 'BBP', 'BIB', 'FBT', 'IBB']
treatment_data = api.get_barset(
    treatment_tickers,
    timeframe,
    start=start_date,
    end=end_date).df
treatment_data.head()
mc_treatment = MCSimulation(
    portfolio_data = treatment_data,
    num_simulation = 100,
    num_trading_days = 252*10
)
mc_treatment.portfolio_data.head()
mc_treatment.calc_cumulative_return()

In [ ]:
# Plot the Monte Carlo Simulation
mc_treatment_plot= mc_treatment.plot_simulation()

In [ ]:
# Cumulative returns distribution
mc_treatment_dist_plot= mc_treatment.plot_distribution()

In [ ]:
# Calculate the summary statistics
mc_treatment_summary= mc_treatment.summarize_cumulative_return()

print (mc_treatment_summary)

#### Calculate the expected portfolio return at the 95% lower and upper confidence intervals based on a 10,000 initial investment.

In [ ]:
# Set initial investment
treatment_investment = 10000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000
treatment_lower= round(mc_treatment_summary[8]* 10000, 2)
treatment_upper= round(mc_treatment_summary[9]* 10000, 2)

# Print results
print(f"There is a 95% chance that an initial investment of ${treatment_investment} in the disease treatment portfolio"
      f", over the next 10 years will end within in the range of"
      f" ${treatment_lower} and ${treatment_upper}")

#### 6- Green building sector

In [ ]:
green_tickers = ['DRW', 'IFGL', 'RWO', 'RWX', 'WPS']
green_data = api.get_barset(
    green_tickers,
    timeframe,
    start=start_date,
    end=end_date).df
green_data.head()
mc_green = MCSimulation(
    portfolio_data = green_data,
    num_simulation = 100,
    num_trading_days = 252*10
)
mc_green.portfolio_data.head()
mc_green.calc_cumulative_return()

In [ ]:
# Plot the Monte Carlo Simulation
mc_green_plot= mc_green.plot_simulation()

In [ ]:
# Cumulative returns distribution
mc_green_dist_plot= mc_green.plot_distribution()

In [ ]:
# Calculate the summary statistics
mc_green_summary= mc_green.summarize_cumulative_return()

print (mc_green_summary)

#### Calculate the expected portfolio return at the 95% lower and upper confidence intervals based on a 10,000 initial investment.

In [ ]:
# Set initial investment
green_investment = 10000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000
green_lower= round(mc_green_summary[8]* 10000, 2)
green_upper= round(mc_green_summary[9]* 10000, 2)

# Print results
print(f"There is a 95% chance that an initial investment of ${green_investment} in the green building portfolio"
      f", over the next 10 years will end within in the range of"
      f" ${green_lower} and ${green_upper}")